.container {
    background-color: #FFFFCC;
}
h2{
    background-color: #F7C363; text-align: center;
    color: #D75015 ;
    padding: 10px 10px ;
}
.tittle ul{
  font-weight: bolder;
  margin-top: -20px;
}
.tittle li{
   color: green;
}
.tittle hr{
    height: 3px;
    /* background-color:  #FF32F5; */
   margin: 30px 0px 0px 20px;
}
.mid{
    margin-left: 20px;
    border-bottom: solid 2px grey;
}
.mid h4 {
    font-weight: bold;
    color: #D0710F ;
}
.tenvitri{
    font-weight: bolder;
    color: #3059A3;
}
.bottom{
    display: flex;
}
.bottom img{
    width: 100px;
    aspect-ratio: 4/3;
    margin-bottom: 20px;
}
.bottom p{
    margin: 0px 0px 20px 20px;
    line-height: 20px;
}
.thuoctinh {
    color: #D88B31;
}
.mid1{
    margin-left: 20px;
    border-bottom: solid 4px #FF32F5;
}
.mid1 h4 {
    font-weight: bold;
    color: #D0710F ;
}
.vanvo{
    line-height: 40px;
}
.last{
    color: #7BBEA4 ;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -15px;
}
