.container {
   display: flex; 
   flex-wrap: wrap;
   margin-left: -30px;
}
.content1 {
    border-radius: 20px;
    display: flex;
    box-shadow: 2px 2px 2px 2px lightgrey;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    width: calc(25% - 30px);
    margin-left: 30px;
    /* Vì sao thêm 2 lệnh display flex và flex direction:column nó mới chạy được */
}
.content1 img {
    width: 100%;
    flex-shrink: 0;
}
.content1 h3 {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 15px;
    text-align: center;
    word-break: break-all;
    margin: 10px;
}
.contentbot {
    display: flex;
}
.contentbot img{
   margin-left: 15px;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 5px;
    flex-shrink: 0;
    object-fit: cover;
}
.tennguoidung {
    margin-left: 20px;
    font-size: 12px;
    flex-shrink: 0;
}
.tennguoidung ion-icon {
    background-color: blue;
    border-radius: 50%;
    color: white;
}
.bottom{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px gray;
    align-items: center;
    padding: 20px 5px;
    flex-shrink: 0;
}
.menu{
    background-color: orange;
    border-radius: 10px;  
    padding: 3px 15px; 
}
.watching {
    font-size: 12px;
}
@media screen and (max-width: 800px){
    .content1{
        width: calc(50% - 30px);
        margin-bottom: 20px;
    }
    .content1 h3{
        font-size: 150%;
    }
}
@media screen and (max-width: 400px){
    .content1{
        width: calc(100% - 30px);
        margin-bottom: 20px;
    }
    .content1 h3{
        font-size: 200%;
    }
}